@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="form-row">

        <div class="row form-group">
            <div class="col-4 col-form-label">User</div>
            <div class="col-6">
                <input class="form-control" type="text" id="userInput" />
            </div>
        </div>

        <div class="row row-divider col-12"> </div>

        <div class="row form-group">
            <div class="col-4 col-form-label">Message</div>
            <div class="col-6">
                <input class="form-control" type="text" id="messageInput" />
            </div>
        </div>

        <div class="row row-divider col-12"> </div>

        <div class="col-4 form-group">
            <input type="button" id="sendButton" class="form-control" value="Send Message" />
        </div>

        <div class="row row-divider col-12"> </div>

        <div class="col-4 form-group">
            <input type="button" id="disconnectButton" class="form-control" value="Disconnect" />
        </div>

        <div class="col-4 form-group">
            <input type="button" id="connectButton" class="form-control" value="Connect" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>

<div id="warningModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>You will be disconnected SOON!</p>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="StayLoggedOn()" class="btn btn-primary" data-dismiss="modal">Stay Logged On</button>
                <button type="button" onclick="Logout()" class="btn btn-secondary" data-dismiss="modal">Logout</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script src="~/js/detectIdle.js"></script>