@using System.Linq

@model LicenseService.Models.IndexViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="row">

    <a class="btn btn-sm btn-success col-2" style="margin-right: 1em;" asp-controller="Home" asp-action="Get">Get</a>
    <a class="btn btn-sm btn-danger col-2" style="margin-right: 1em;" asp-controller="Home" asp-action="Clear">Clear</a>

    <div class="row row-divider"> </div>

    <table id="licenseTableId" class="table-responsive">
        <thead><tr><th></th><th>Licenses</th></tr></thead>

        @if (Model.Licenses.Any()) {
            foreach (var license in Model.Licenses) {
                <tr>
                    <td>
                        <a class="btn btn-sm btn-danger" style="margin-right: 1em;" asp-controller="Home" asp-action="Delete" asp-route-id="@license.Key">Delete</a>
                    </td>
                    <td>
                        @license.Value
                    </td>
                </tr>
            }

        } else {
            <tr><td>License List is empty.</td></tr>
        }
    </table>
</div>

<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/hub.js"></script>