@using System.Linq

@model LicenseService.Models.IndexViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="row">

    <a class="btn btn-sm btn-success col-2" style="margin-right: 1em;" asp-controller="Home" asp-action="Get">Get</a>
    <a class="btn btn-sm btn-danger col-2" style="margin-right: 1em;" asp-controller="Home" asp-action="Clear">Clear</a>

    <div class="row row-divider"> </div>

    <table class="table-responsive">
        <thead><tr><th>Licenses</th></tr></thead>

        @if (Model.Licenses.Any()) {
            foreach (var license in Model.Licenses) {
                <tr>
                    <td>
                        @license.Value
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", "Home", routeValues: new { id = license.Key }, htmlAttributes: new { @class = "btn btn-sm btn-danger" } )
                    </td>
                </tr>
            }

        } else {
            <tr><td>License List is empty.</td></tr>
        }
    </table>
</div>